/* imports font used by Sadie */
@font-face{
  font-family: 'Outfit';
  src: local('Outfit'),
    url(./fonts/Outfit/static/Outfit-Regular.ttf) format('ttf');
}

.App {
  text-align: center;
  font-family: Outfit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Menu */
.App-header {
  background-color: #E8F9D6;
  padding: 30px 32px 28px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #4B6133;
  overflow: auto;
}

/* Logo/Home on the left */
.App-header-home{
  margin:auto;
  vertical-align:middle;
}
.App-header-home-logo{
  vertical-align: middle;
  object-fit: cover;
  object-position: 50% 45%;
  cursor: pointer;
}

/* Pages on the right */
.App-header-sections{
  margin-top: 10px;
}
.App-header-sections-button{
  background-color: white;
  border: none;
  vertical-align: middle;
  border-radius:30px;
  margin: 4px 10px;
  display: inline-block;
  
  text-align: center;
  padding: 8px 20px;
  color: black;
  font-weight: normal;
  font-size: 17px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration-line: none;
}
.App-header-sections-button1{
  border: 3px solid #FFE4F7;
}
.App-header-sections-button1:hover{
  background-color: #FFE4F7;
}
.App-header-sections-button2{
  border: 3px solid #C8D1FD;
}
.App-header-sections-button2:hover{
  background-color: #C8D1FD;
}
.App-header-sections-button3{
  border: 3px solid #F6DFC4;
}
.App-header-sections-button3:hover{
  background-color: #F6DFC4;
}
.App-header-sections-button4{
  border: 3px solid #DBF4C0;
}
.App-header-sections-button4:hover{
  background-color: #DBF4C0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sprout {
  position: absolute;
  bottom: 0;
  left: 63%;
  transform: translateX(-50%);
  z-index: 0;
}

.money_tree {
  position: absolute;
  bottom: 65%;
  left: 55%;
  transform: translateX(-50%);
  transform: translateY(-50%)
}


.horizontal-line {
  width: 50%; /* Set the width of your horizontal line */
  height: 1px;  /* Set the height of your horizontal line */
  background-color: black; /* Set the color of your horizontal line */
  transform: rotate(90deg); /* Rotate the line 90 degrees to make it vertical */
  position: fixed; /* Use absolute positioning */
  bottom: 70%; /* Position the line in the middle of the container */
  left: 25%; /* Adjust the left position to center the line */
  transform-origin: 0 0; /* Set the transform origin to the top-left corner */
}

