.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sprout {
  position: absolute;
  bottom: 0;
  left: 63%;
  transform: translateX(-50%);
  z-index: 0;
}

.money_tree {
  position: absolute;
  bottom: 65%;
  left: 55%;
  transform: translateX(-50%);
  transform: translateY(-50%)
}

.home_dude {
  position: absolute;
  top: 0;
  left: 0;
}


.horizontal-line {
  width: 900px; /* Set the width of your horizontal line */
  height: 1px;  /* Set the height of your horizontal line */
  background-color: black; /* Set the color of your horizontal line */
  transform: rotate(90deg); /* Rotate the line 90 degrees to make it vertical */
  position: absolute; /* Use absolute positioning */
  top: 700px;
}