@tailwind base;
@tailwind components;
@tailwind utilities;

/* Progress bar */
.progress-wrapper {
  width: 50%;
  margin: auto;
}

.progress-bar {
  height: 50px;
  border: 4px solid #0e87b3; /* Needs to be changed later */
  border-radius: 30px;
}

.progress-inner {
  display: block;
  height: 100%;
  background-color: #0e87b3; /* Needs to be changed later */
  border-radius: 30px;
  margin-left: -0.1%; /* adjust for whitespace */
  width: 100.2%; /* make sure bar gets filled at 100%*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Header Menu */
.App-header {
  background-color: #ffffff;
  overflow: hidden;
  height: 120px;
  padding: 30px;
}

/* Logo on the left and stays constant */
.App-header-home {
  vertical-align: middle;
  float: left;
  min-width: 260px;
  flex-grow: 0;
  flex-shrink: 0;
}

/* Links on the right */
.App-header-sections {
  font-family: monospace;
  float: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-header-sections-button {
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  margin: 4px 10px;
  display: block;
  float: right;

  text-align: center;
  padding: 4px 20px;
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  transition-duration: 0.2s;
  cursor: pointer;
  text-decoration-line: none;
}

/*Buttons and effects*/
.App-header-sections-button1 {
  border: 4px solid #ef7a43;
}
.App-header-sections-button1:hover {
  background-color: #ef7a43;
  color: #ffffff;
}
.button1-active {
  background-color: #ef7a43;
  color: #ffffff;
}

.App-header-sections-button2 {
  border: 4px solid #0e87b3;
}
.App-header-sections-button2:hover {
  background-color: #0e87b3;
  color: #ffffff;
}
.button2-active {
  background-color: #0e87b3;
  color: #ffffff;
}

.App-header-sections-button3 {
  border: 4px solid #eea930;
}
.App-header-sections-button3:hover {
  background-color: #eea930;
  color: #ffffff;
}
.button3-active {
  background-color: #eea930;
  color: #ffffff;
}

.App-header-sections-button4 {
  border: 4px solid #3a8989;
}
.App-header-sections-button4:hover {
  background-color: #3a8989;
  color: #ffffff;
}
.button4-active {
  background-color: #3a8989;
  color: #ffffff;
}

/*Hide links when screen gets too small*/
@media (max-width: 768px) {
  .App-header-sections li {
    display: none;
  }
}

.Unit-display-lesson {
  border: 3px solid #f6dfc4;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sprout {
  position: absolute;
  bottom: 0;
  left: 63%;
  transform: translateX(-50%);
  z-index: 0;
}

.money_tree {
  position: absolute;
  bottom: 65%;
  left: 55%;
  transform: translateX(-50%) translateY(-50%);
}

.horizontal-line {
  width: 50%; /* Set the width of your horizontal line */
  height: 2px; /* Set the height of your horizontal line */
  background-color: #4c4f54; /* Set the color of your horizontal line */
  transform: rotate(90deg); /* Rotate the line 90 degrees to make it vertical */
  position: fixed; /* Use absolute positioning */
  bottom: 70%; /* Position the line in the middle of the container */
  left: 25%; /* Adjust the left position to center the line */
  transform-origin: 0 0; /* Set the transform origin to the top-left corner */
}

.container {
  width: 500px;
}
