@tailwind base;
@tailwind components;
@tailwind utilities;


/*import font used by Sadie*/
@font-face {
  font-family: 'Outfit Regular';
  src: local('Outfit-Regular'),
       url(../fonts/Outfit/static/Outfit-Regular.ttf) format('truetype');
}

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit Regular';
}